


























/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.icon {
  width: 0.53333rem;
  height: 0.53333rem;
  fill: #333;
  overflow: hidden; }

.slide-down-enter, .slide-down-leave-to {
  transform: translate3d(0, -px2rem(108), 0); }

.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, 2.88rem, 0); }

.slide-down-enter-to, .slide-down-leave,
.slide-up-enter-to, .slide-up-leave,
.slide-right-enter-to, .slide-right-leave {
  transform: translate3d(0, 0, 0); }

.slide-down-enter-active, .slide-down-leave-active,
.slide-up-enter-active, .slide-up-leave-active,
.fade-enter-active, .fade-leave-active,
.slide-right-enter-active, .slide-right-leave-active {
  transition: all .3s linear; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.fade-enter-to, .fade-leave {
  opacity: 1; }

.slide-right-enter, .slide-right-leave-to {
  transform: translate3d(-100%, 0, 0); }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html[data-v-04382ac4], body[data-v-04382ac4], div[data-v-04382ac4], span[data-v-04382ac4], applet[data-v-04382ac4], object[data-v-04382ac4], iframe[data-v-04382ac4],
h1[data-v-04382ac4], h2[data-v-04382ac4], h3[data-v-04382ac4], h4[data-v-04382ac4], h5[data-v-04382ac4], h6[data-v-04382ac4], p[data-v-04382ac4], blockquote[data-v-04382ac4], pre[data-v-04382ac4],
a[data-v-04382ac4], abbr[data-v-04382ac4], acronym[data-v-04382ac4], address[data-v-04382ac4], big[data-v-04382ac4], cite[data-v-04382ac4], code[data-v-04382ac4],
del[data-v-04382ac4], dfn[data-v-04382ac4], em[data-v-04382ac4], img[data-v-04382ac4], ins[data-v-04382ac4], kbd[data-v-04382ac4], q[data-v-04382ac4], s[data-v-04382ac4], samp[data-v-04382ac4],
small[data-v-04382ac4], strike[data-v-04382ac4], strong[data-v-04382ac4], sub[data-v-04382ac4], sup[data-v-04382ac4], tt[data-v-04382ac4], var[data-v-04382ac4],
b[data-v-04382ac4], u[data-v-04382ac4], i[data-v-04382ac4], center[data-v-04382ac4],
dl[data-v-04382ac4], dt[data-v-04382ac4], dd[data-v-04382ac4], ol[data-v-04382ac4], ul[data-v-04382ac4], li[data-v-04382ac4],
fieldset[data-v-04382ac4], form[data-v-04382ac4], label[data-v-04382ac4], legend[data-v-04382ac4],
table[data-v-04382ac4], caption[data-v-04382ac4], tbody[data-v-04382ac4], tfoot[data-v-04382ac4], thead[data-v-04382ac4], tr[data-v-04382ac4], th[data-v-04382ac4], td[data-v-04382ac4],
article[data-v-04382ac4], aside[data-v-04382ac4], canvas[data-v-04382ac4], details[data-v-04382ac4], embed[data-v-04382ac4],
figure[data-v-04382ac4], figcaption[data-v-04382ac4], footer[data-v-04382ac4], header[data-v-04382ac4], hgroup[data-v-04382ac4],
menu[data-v-04382ac4], nav[data-v-04382ac4], output[data-v-04382ac4], ruby[data-v-04382ac4], section[data-v-04382ac4], summary[data-v-04382ac4],
time[data-v-04382ac4], mark[data-v-04382ac4], audio[data-v-04382ac4], video[data-v-04382ac4] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article[data-v-04382ac4], aside[data-v-04382ac4], details[data-v-04382ac4], figcaption[data-v-04382ac4], figure[data-v-04382ac4],
footer[data-v-04382ac4], header[data-v-04382ac4], hgroup[data-v-04382ac4], menu[data-v-04382ac4], nav[data-v-04382ac4], section[data-v-04382ac4] {
  display: block;
}
body[data-v-04382ac4] {
  line-height: 1;
}
ol[data-v-04382ac4], ul[data-v-04382ac4] {
  list-style: none;
}
blockquote[data-v-04382ac4], q[data-v-04382ac4] {
  quotes: none;
}
blockquote[data-v-04382ac4]:before, blockquote[data-v-04382ac4]:after,
q[data-v-04382ac4]:before, q[data-v-04382ac4]:after {
  content: '';
  content: none;
}
table[data-v-04382ac4] {
  border-collapse: collapse;
  border-spacing: 0;
}
.icon[data-v-04382ac4] {
  width: 0.53333rem;
  height: 0.53333rem;
  fill: #333;
  overflow: hidden;
}
.slide-down-enter[data-v-04382ac4], .slide-down-leave-to[data-v-04382ac4] {
  transform: translate3d(0, -px2rem(108), 0);
}
.slide-up-enter[data-v-04382ac4], .slide-up-leave-to[data-v-04382ac4] {
  transform: translate3d(0, 2.88rem, 0);
}
.slide-down-enter-to[data-v-04382ac4], .slide-down-leave[data-v-04382ac4],
.slide-up-enter-to[data-v-04382ac4], .slide-up-leave[data-v-04382ac4],
.slide-right-enter-to[data-v-04382ac4], .slide-right-leave[data-v-04382ac4] {
  transform: translate3d(0, 0, 0);
}
.slide-down-enter-active[data-v-04382ac4], .slide-down-leave-active[data-v-04382ac4],
.slide-up-enter-active[data-v-04382ac4], .slide-up-leave-active[data-v-04382ac4],
.fade-enter-active[data-v-04382ac4], .fade-leave-active[data-v-04382ac4],
.slide-right-enter-active[data-v-04382ac4], .slide-right-leave-active[data-v-04382ac4] {
  transition: all .3s linear;
}
.fade-enter[data-v-04382ac4], .fade-leave-to[data-v-04382ac4] {
  opacity: 0;
}
.fade-enter-to[data-v-04382ac4], .fade-leave[data-v-04382ac4] {
  opacity: 1;
}
.slide-right-enter[data-v-04382ac4], .slide-right-leave-to[data-v-04382ac4] {
  transform: translate3d(-100%, 0, 0);
}
.ebook[data-v-04382ac4] {
  position: relative;
}
.ebook .read-wrapper .mask[data-v-04382ac4] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: -ms-flexbox;
    display: flex;
}
.ebook .read-wrapper .mask .left[data-v-04382ac4] {
      -ms-flex: 0 0 2.13333rem;
          flex: 0 0 2.13333rem;
}
.ebook .read-wrapper .mask .center[data-v-04382ac4] {
      -ms-flex: 1;
          flex: 1;
}
.ebook .read-wrapper .mask .right[data-v-04382ac4] {
      -ms-flex: 0 0 2.13333rem;
          flex: 0 0 2.13333rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html[data-v-d1934fec], body[data-v-d1934fec], div[data-v-d1934fec], span[data-v-d1934fec], applet[data-v-d1934fec], object[data-v-d1934fec], iframe[data-v-d1934fec],
h1[data-v-d1934fec], h2[data-v-d1934fec], h3[data-v-d1934fec], h4[data-v-d1934fec], h5[data-v-d1934fec], h6[data-v-d1934fec], p[data-v-d1934fec], blockquote[data-v-d1934fec], pre[data-v-d1934fec],
a[data-v-d1934fec], abbr[data-v-d1934fec], acronym[data-v-d1934fec], address[data-v-d1934fec], big[data-v-d1934fec], cite[data-v-d1934fec], code[data-v-d1934fec],
del[data-v-d1934fec], dfn[data-v-d1934fec], em[data-v-d1934fec], img[data-v-d1934fec], ins[data-v-d1934fec], kbd[data-v-d1934fec], q[data-v-d1934fec], s[data-v-d1934fec], samp[data-v-d1934fec],
small[data-v-d1934fec], strike[data-v-d1934fec], strong[data-v-d1934fec], sub[data-v-d1934fec], sup[data-v-d1934fec], tt[data-v-d1934fec], var[data-v-d1934fec],
b[data-v-d1934fec], u[data-v-d1934fec], i[data-v-d1934fec], center[data-v-d1934fec],
dl[data-v-d1934fec], dt[data-v-d1934fec], dd[data-v-d1934fec], ol[data-v-d1934fec], ul[data-v-d1934fec], li[data-v-d1934fec],
fieldset[data-v-d1934fec], form[data-v-d1934fec], label[data-v-d1934fec], legend[data-v-d1934fec],
table[data-v-d1934fec], caption[data-v-d1934fec], tbody[data-v-d1934fec], tfoot[data-v-d1934fec], thead[data-v-d1934fec], tr[data-v-d1934fec], th[data-v-d1934fec], td[data-v-d1934fec],
article[data-v-d1934fec], aside[data-v-d1934fec], canvas[data-v-d1934fec], details[data-v-d1934fec], embed[data-v-d1934fec],
figure[data-v-d1934fec], figcaption[data-v-d1934fec], footer[data-v-d1934fec], header[data-v-d1934fec], hgroup[data-v-d1934fec],
menu[data-v-d1934fec], nav[data-v-d1934fec], output[data-v-d1934fec], ruby[data-v-d1934fec], section[data-v-d1934fec], summary[data-v-d1934fec],
time[data-v-d1934fec], mark[data-v-d1934fec], audio[data-v-d1934fec], video[data-v-d1934fec] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article[data-v-d1934fec], aside[data-v-d1934fec], details[data-v-d1934fec], figcaption[data-v-d1934fec], figure[data-v-d1934fec],
footer[data-v-d1934fec], header[data-v-d1934fec], hgroup[data-v-d1934fec], menu[data-v-d1934fec], nav[data-v-d1934fec], section[data-v-d1934fec] {
  display: block;
}
body[data-v-d1934fec] {
  line-height: 1;
}
ol[data-v-d1934fec], ul[data-v-d1934fec] {
  list-style: none;
}
blockquote[data-v-d1934fec], q[data-v-d1934fec] {
  quotes: none;
}
blockquote[data-v-d1934fec]:before, blockquote[data-v-d1934fec]:after,
q[data-v-d1934fec]:before, q[data-v-d1934fec]:after {
  content: '';
  content: none;
}
table[data-v-d1934fec] {
  border-collapse: collapse;
  border-spacing: 0;
}
.icon[data-v-d1934fec] {
  width: 0.53333rem;
  height: 0.53333rem;
  fill: #333;
  overflow: hidden;
}
.slide-down-enter[data-v-d1934fec], .slide-down-leave-to[data-v-d1934fec] {
  transform: translate3d(0, -px2rem(108), 0);
}
.slide-up-enter[data-v-d1934fec], .slide-up-leave-to[data-v-d1934fec] {
  transform: translate3d(0, 2.88rem, 0);
}
.slide-down-enter-to[data-v-d1934fec], .slide-down-leave[data-v-d1934fec],
.slide-up-enter-to[data-v-d1934fec], .slide-up-leave[data-v-d1934fec],
.slide-right-enter-to[data-v-d1934fec], .slide-right-leave[data-v-d1934fec] {
  transform: translate3d(0, 0, 0);
}
.slide-down-enter-active[data-v-d1934fec], .slide-down-leave-active[data-v-d1934fec],
.slide-up-enter-active[data-v-d1934fec], .slide-up-leave-active[data-v-d1934fec],
.fade-enter-active[data-v-d1934fec], .fade-leave-active[data-v-d1934fec],
.slide-right-enter-active[data-v-d1934fec], .slide-right-leave-active[data-v-d1934fec] {
  transition: all .3s linear;
}
.fade-enter[data-v-d1934fec], .fade-leave-to[data-v-d1934fec] {
  opacity: 0;
}
.fade-enter-to[data-v-d1934fec], .fade-leave[data-v-d1934fec] {
  opacity: 1;
}
.slide-right-enter[data-v-d1934fec], .slide-right-leave-to[data-v-d1934fec] {
  transform: translate3d(-100%, 0, 0);
}
.title-bar[data-v-d1934fec] {
  position: relative;
}
.title-bar .title-wrapper[data-v-d1934fec] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1.28rem;
    background: white;
    box-shadow: 0 0.21333rem 0.21333rem rgba(0, 0, 0, 0.15);
}
.title-bar .title-wrapper .left[data-v-d1934fec] {
      -ms-flex: 0 0 1.6rem;
          flex: 0 0 1.6rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-bar .title-wrapper .center[data-v-d1934fec] {
      background: red;
}
.title-bar .title-wrapper .right[data-v-d1934fec] {
      -ms-flex: 1;
          flex: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.title-bar .title-wrapper .right .icon-wrapper[data-v-d1934fec] {
        -ms-flex: 0 0 1.06667rem;
            flex: 0 0 1.06667rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html[data-v-86b670d6], body[data-v-86b670d6], div[data-v-86b670d6], span[data-v-86b670d6], applet[data-v-86b670d6], object[data-v-86b670d6], iframe[data-v-86b670d6],
h1[data-v-86b670d6], h2[data-v-86b670d6], h3[data-v-86b670d6], h4[data-v-86b670d6], h5[data-v-86b670d6], h6[data-v-86b670d6], p[data-v-86b670d6], blockquote[data-v-86b670d6], pre[data-v-86b670d6],
a[data-v-86b670d6], abbr[data-v-86b670d6], acronym[data-v-86b670d6], address[data-v-86b670d6], big[data-v-86b670d6], cite[data-v-86b670d6], code[data-v-86b670d6],
del[data-v-86b670d6], dfn[data-v-86b670d6], em[data-v-86b670d6], img[data-v-86b670d6], ins[data-v-86b670d6], kbd[data-v-86b670d6], q[data-v-86b670d6], s[data-v-86b670d6], samp[data-v-86b670d6],
small[data-v-86b670d6], strike[data-v-86b670d6], strong[data-v-86b670d6], sub[data-v-86b670d6], sup[data-v-86b670d6], tt[data-v-86b670d6], var[data-v-86b670d6],
b[data-v-86b670d6], u[data-v-86b670d6], i[data-v-86b670d6], center[data-v-86b670d6],
dl[data-v-86b670d6], dt[data-v-86b670d6], dd[data-v-86b670d6], ol[data-v-86b670d6], ul[data-v-86b670d6], li[data-v-86b670d6],
fieldset[data-v-86b670d6], form[data-v-86b670d6], label[data-v-86b670d6], legend[data-v-86b670d6],
table[data-v-86b670d6], caption[data-v-86b670d6], tbody[data-v-86b670d6], tfoot[data-v-86b670d6], thead[data-v-86b670d6], tr[data-v-86b670d6], th[data-v-86b670d6], td[data-v-86b670d6],
article[data-v-86b670d6], aside[data-v-86b670d6], canvas[data-v-86b670d6], details[data-v-86b670d6], embed[data-v-86b670d6],
figure[data-v-86b670d6], figcaption[data-v-86b670d6], footer[data-v-86b670d6], header[data-v-86b670d6], hgroup[data-v-86b670d6],
menu[data-v-86b670d6], nav[data-v-86b670d6], output[data-v-86b670d6], ruby[data-v-86b670d6], section[data-v-86b670d6], summary[data-v-86b670d6],
time[data-v-86b670d6], mark[data-v-86b670d6], audio[data-v-86b670d6], video[data-v-86b670d6] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article[data-v-86b670d6], aside[data-v-86b670d6], details[data-v-86b670d6], figcaption[data-v-86b670d6], figure[data-v-86b670d6],
footer[data-v-86b670d6], header[data-v-86b670d6], hgroup[data-v-86b670d6], menu[data-v-86b670d6], nav[data-v-86b670d6], section[data-v-86b670d6] {
  display: block;
}
body[data-v-86b670d6] {
  line-height: 1;
}
ol[data-v-86b670d6], ul[data-v-86b670d6] {
  list-style: none;
}
blockquote[data-v-86b670d6], q[data-v-86b670d6] {
  quotes: none;
}
blockquote[data-v-86b670d6]:before, blockquote[data-v-86b670d6]:after,
q[data-v-86b670d6]:before, q[data-v-86b670d6]:after {
  content: '';
  content: none;
}
table[data-v-86b670d6] {
  border-collapse: collapse;
  border-spacing: 0;
}
.icon[data-v-86b670d6] {
  width: 0.53333rem;
  height: 0.53333rem;
  fill: #333;
  overflow: hidden;
}
.slide-down-enter[data-v-86b670d6], .slide-down-leave-to[data-v-86b670d6] {
  transform: translate3d(0, -px2rem(108), 0);
}
.slide-up-enter[data-v-86b670d6], .slide-up-leave-to[data-v-86b670d6] {
  transform: translate3d(0, 2.88rem, 0);
}
.slide-down-enter-to[data-v-86b670d6], .slide-down-leave[data-v-86b670d6],
.slide-up-enter-to[data-v-86b670d6], .slide-up-leave[data-v-86b670d6],
.slide-right-enter-to[data-v-86b670d6], .slide-right-leave[data-v-86b670d6] {
  transform: translate3d(0, 0, 0);
}
.slide-down-enter-active[data-v-86b670d6], .slide-down-leave-active[data-v-86b670d6],
.slide-up-enter-active[data-v-86b670d6], .slide-up-leave-active[data-v-86b670d6],
.fade-enter-active[data-v-86b670d6], .fade-leave-active[data-v-86b670d6],
.slide-right-enter-active[data-v-86b670d6], .slide-right-leave-active[data-v-86b670d6] {
  transition: all .3s linear;
}
.fade-enter[data-v-86b670d6], .fade-leave-to[data-v-86b670d6] {
  opacity: 0;
}
.fade-enter-to[data-v-86b670d6], .fade-leave[data-v-86b670d6] {
  opacity: 1;
}
.slide-right-enter[data-v-86b670d6], .slide-right-leave-to[data-v-86b670d6] {
  transform: translate3d(-100%, 0, 0);
}
.menu-bar .menu-wrapper[data-v-86b670d6] {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1.28rem;
  background: white;
  box-shadow: 0 -0.21333rem 0.21333rem rgba(0, 0, 0, 0.15);
}
.menu-bar .menu-wrapper .icon-wrapper[data-v-86b670d6] {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
.menu-bar .menu-wrapper .icon-wrapper .icon-a[data-v-86b670d6] {
      font-size: 0.53333rem;
}
.menu-bar .menu-wrapper.hide-box-shadow[data-v-86b670d6] {
    box-shadow: none;
}
.menu-bar .setting-wrapper[data-v-86b670d6] {
  z-index: 102;
  position: absolute;
  bottom: 1.28rem;
  left: 0;
  width: 100%;
  height: 1.6rem;
  box-shadow: 0 -0.21333rem 0.21333rem rgba(0, 0, 0, 0.15);
  background: white;
}
.menu-bar .setting-wrapper .setting-font-size[data-v-86b670d6] {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.menu-bar .setting-wrapper .setting-font-size .preview[data-v-86b670d6] {
      -ms-flex: 0 0 1.06667rem;
          flex: 0 0 1.06667rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-bar .setting-wrapper .setting-font-size .select-wrapper[data-v-86b670d6] {
      -ms-flex: 1;
          flex: 1;
      display: -ms-flexbox;
      display: flex;
      align-item: center;
}
.menu-bar .setting-wrapper .setting-font-size .select-wrapper .line[data-v-86b670d6] {
        -ms-flex: 1;
            flex: 1;
        height: 0.8rem;
        border-bottom: 0.02667rem solid #ccc;
}
.menu-bar .setting-wrapper .setting-font-size .select-wrapper .point-wrapper[data-v-86b670d6] {
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
        width: 0;
        height: 0.18667rem;
        border-left: 0.02667rem solid #ccc;
        position: relative;
        top: 0.8rem;
}
.menu-bar .setting-wrapper .setting-font-size .select-wrapper .point-wrapper .point[data-v-86b670d6] {
          position: absolute;
          top: -0.29333rem;
          left: -0.32rem;
          width: 0.53333rem;
          height: 0.53333rem;
          border: 0.02667rem solid #ccc;
          box-shadow: 0 0.10667rem 0.10667rem rgba(0, 0, 0, 0.15);
          border-radius: 50%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center;
}
.menu-bar .setting-wrapper .setting-font-size .select-wrapper .point-wrapper .point .small-point[data-v-86b670d6] {
            width: 0.13333rem;
            height: 0.13333rem;
            border: 0.02667rem solid #ccc;
            border-radius: 50%;
            background-color: #ccc;
}
.menu-bar .setting-wrapper .setting-theme[data-v-86b670d6] {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
}
.menu-bar .setting-wrapper .setting-theme .theme-item[data-v-86b670d6] {
      -ms-flex: 1;
          flex: 1;
      display: -ms-flexbox;
      display: flex;
      box-sizing: border-box;
      -ms-flex-direction: column;
          flex-direction: column;
      padding: 0.13333rem;
}
.menu-bar .setting-wrapper .setting-theme .theme-item .preview[data-v-86b670d6] {
        -ms-flex: 1;
            flex: 1;
        border: 0.02667rem solid #ccc;
        box-sizing: border-box;
}
.menu-bar .setting-wrapper .setting-theme .theme-item .preview.no-border[data-v-86b670d6] {
          border: none;
}
.menu-bar .setting-wrapper .setting-theme .theme-item .text[data-v-86b670d6] {
        -ms-flex: 0 0 0.53333rem;
            flex: 0 0 0.53333rem;
        font-size: 0.37333rem;
        color: #ccc;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu-bar .setting-wrapper .setting-theme .theme-item .text.selected[data-v-86b670d6] {
          color: #333;
}
.menu-bar .setting-wrapper .setting-progress[data-v-86b670d6] {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu-bar .setting-wrapper .setting-progress .progress-wrapper[data-v-86b670d6] {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      padding: 0.32rem 0.8rem;
      box-sizing: border-box;
}
.menu-bar .setting-wrapper .setting-progress .progress-wrapper .progress[data-v-86b670d6] {
        width: 100%;
        -webkit-appearance: none;
        height: 0.05333rem;
        background: -webkit-linear-gradient(#999, #999) no-repeat, #ddd;
        background-size: 0 100%;
}
.menu-bar .setting-wrapper .setting-progress .progress-wrapper .progress[data-v-86b670d6]:focus {
          outline: none;
}
.menu-bar .setting-wrapper .setting-progress .progress-wrapper .progress[data-v-86b670d6]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 0.26667rem;
          width: 0.26667rem;
          border-radius: 50%;
          background: white;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          border: 0.02667rem solid #ddd;
}
.menu-bar .setting-wrapper .setting-progress .text-wrapper[data-v-86b670d6] {
      width: 100%;
      text-align: center;
}
.menu-bar .setting-wrapper .setting-progress .text-wrapper span[data-v-86b670d6] {
        font-size: 0.37333rem;
}
.content-mask[data-v-86b670d6] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html[data-v-b085a282], body[data-v-b085a282], div[data-v-b085a282], span[data-v-b085a282], applet[data-v-b085a282], object[data-v-b085a282], iframe[data-v-b085a282],
h1[data-v-b085a282], h2[data-v-b085a282], h3[data-v-b085a282], h4[data-v-b085a282], h5[data-v-b085a282], h6[data-v-b085a282], p[data-v-b085a282], blockquote[data-v-b085a282], pre[data-v-b085a282],
a[data-v-b085a282], abbr[data-v-b085a282], acronym[data-v-b085a282], address[data-v-b085a282], big[data-v-b085a282], cite[data-v-b085a282], code[data-v-b085a282],
del[data-v-b085a282], dfn[data-v-b085a282], em[data-v-b085a282], img[data-v-b085a282], ins[data-v-b085a282], kbd[data-v-b085a282], q[data-v-b085a282], s[data-v-b085a282], samp[data-v-b085a282],
small[data-v-b085a282], strike[data-v-b085a282], strong[data-v-b085a282], sub[data-v-b085a282], sup[data-v-b085a282], tt[data-v-b085a282], var[data-v-b085a282],
b[data-v-b085a282], u[data-v-b085a282], i[data-v-b085a282], center[data-v-b085a282],
dl[data-v-b085a282], dt[data-v-b085a282], dd[data-v-b085a282], ol[data-v-b085a282], ul[data-v-b085a282], li[data-v-b085a282],
fieldset[data-v-b085a282], form[data-v-b085a282], label[data-v-b085a282], legend[data-v-b085a282],
table[data-v-b085a282], caption[data-v-b085a282], tbody[data-v-b085a282], tfoot[data-v-b085a282], thead[data-v-b085a282], tr[data-v-b085a282], th[data-v-b085a282], td[data-v-b085a282],
article[data-v-b085a282], aside[data-v-b085a282], canvas[data-v-b085a282], details[data-v-b085a282], embed[data-v-b085a282],
figure[data-v-b085a282], figcaption[data-v-b085a282], footer[data-v-b085a282], header[data-v-b085a282], hgroup[data-v-b085a282],
menu[data-v-b085a282], nav[data-v-b085a282], output[data-v-b085a282], ruby[data-v-b085a282], section[data-v-b085a282], summary[data-v-b085a282],
time[data-v-b085a282], mark[data-v-b085a282], audio[data-v-b085a282], video[data-v-b085a282] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article[data-v-b085a282], aside[data-v-b085a282], details[data-v-b085a282], figcaption[data-v-b085a282], figure[data-v-b085a282],
footer[data-v-b085a282], header[data-v-b085a282], hgroup[data-v-b085a282], menu[data-v-b085a282], nav[data-v-b085a282], section[data-v-b085a282] {
  display: block;
}
body[data-v-b085a282] {
  line-height: 1;
}
ol[data-v-b085a282], ul[data-v-b085a282] {
  list-style: none;
}
blockquote[data-v-b085a282], q[data-v-b085a282] {
  quotes: none;
}
blockquote[data-v-b085a282]:before, blockquote[data-v-b085a282]:after,
q[data-v-b085a282]:before, q[data-v-b085a282]:after {
  content: '';
  content: none;
}
table[data-v-b085a282] {
  border-collapse: collapse;
  border-spacing: 0;
}
.icon[data-v-b085a282] {
  width: 0.53333rem;
  height: 0.53333rem;
  fill: #333;
  overflow: hidden;
}
.slide-down-enter[data-v-b085a282], .slide-down-leave-to[data-v-b085a282] {
  transform: translate3d(0, -px2rem(108), 0);
}
.slide-up-enter[data-v-b085a282], .slide-up-leave-to[data-v-b085a282] {
  transform: translate3d(0, 2.88rem, 0);
}
.slide-down-enter-to[data-v-b085a282], .slide-down-leave[data-v-b085a282],
.slide-up-enter-to[data-v-b085a282], .slide-up-leave[data-v-b085a282],
.slide-right-enter-to[data-v-b085a282], .slide-right-leave[data-v-b085a282] {
  transform: translate3d(0, 0, 0);
}
.slide-down-enter-active[data-v-b085a282], .slide-down-leave-active[data-v-b085a282],
.slide-up-enter-active[data-v-b085a282], .slide-up-leave-active[data-v-b085a282],
.fade-enter-active[data-v-b085a282], .fade-leave-active[data-v-b085a282],
.slide-right-enter-active[data-v-b085a282], .slide-right-leave-active[data-v-b085a282] {
  transition: all .3s linear;
}
.fade-enter[data-v-b085a282], .fade-leave-to[data-v-b085a282] {
  opacity: 0;
}
.fade-enter-to[data-v-b085a282], .fade-leave[data-v-b085a282] {
  opacity: 1;
}
.slide-right-enter[data-v-b085a282], .slide-right-leave-to[data-v-b085a282] {
  transform: translate3d(-100%, 0, 0);
}
.content[data-v-b085a282] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 100%;
  background: white;
}
.content .content-wrapper .content-item[data-v-b085a282] {
    height: 0.37333rem;
}
.content .content-wrapper .content-item span[data-v-b085a282] {
      font-size: 0.32rem;
}

/*# sourceMappingURL=app.5bd0b48c25e69983647f8458b435bd44.css.map*/